<div class="container">
  <form #loginForm = "ngForm" (submit)='submit(loginForm)'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="exampleInputEmail1" 
        name="email"
        #emailVar = "ngModel"
        ngModel
        [ngClass]= "{'is-invalid': emailVar.invalid && emailVar.touched}"
        required
        minlength="6"
        aria-describedby="emailHelp" 
        placeholder="Enter email">
        <div [ngClass]= "{'invalid-feedback':loginForm.controls.email.invalid }">
          <label *ngIf = "loginForm.controls.email.errors?.required"> *Email address is required </label>
        </div>
        <div [ngClass]= "{'invalid-feedback':loginForm.controls.email.invalid }">
          <label *ngIf = "loginForm.controls.email.errors?.minlength"> Minimum length of password should be 6 characters </label>
        </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input 
        type="password" 
        class="form-control" 
        name="pwd"
        ngModel
        #pwd = "ngModel"
        required
        [ngClass]= "{'is-invalid': pwd.invalid}"
        id="exampleInputPassword1" 
        placeholder="Password">
      <div [ngClass]= "{'invalid-feedback':loginForm.controls.pwd.invalid }">
        <label *ngIf = "loginForm.controls.pwd.invalid"> *password is required </label>
      </div>  
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>