<div class="container">
  <form [formGroup] = "customerForm" (submit)='submit()'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input 
        type="text" 
        class="form-control" 
        id="exampleInputEmail1" 
        formControlName = "username"
        [ngClass]= "{'is-invalid': customerForm.controls.username.valid && customerForm.controls.username.touched}"
        required
        minlength="6" 
        placeholder="Enter username">
        <div [ngClass]= "{'invalid-feedback':customerForm.controls.username.invalid }">
          <label *ngIf = "customerForm.controls.username.errors?.required"> *Email address is required </label>
        </div>
        <div [ngClass]= "{'invalid-feedback':customerForm.controls.username.invalid }">
          <label *ngIf = "customerForm.controls.username.errors?.minlength"> Minimum length of password should be 6 characters </label>
        </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input 
        type="password" 
        class="form-control" 
        formControlName = "password"
        required
        [ngClass]= "{'is-invalid': pwd.invalid}"
        id="exampleInputPassword1" 
        placeholder="Password">
      <div [ngClass]= "{'invalid-feedback':customerForm.controls.password.invalid }">
        <label *ngIf = "customerForm.controls.password.invalid"> *password is required </label>
      </div>  
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled] = "loginForm.invalid">Submit</button>
  </form>
</div>