<div class="container">
  <div class="row">
    <form [formGroup] = "customerForm">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" 
          class="form-control" 
          placeholder="Enter first name"
          formControlName = "firstName"
          [ngClass] ="{'is-invalid': customerForm.controls.firstName.invalid && customerForm.controls.firstName.touched}"
          >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" 
          class="form-control" 
          placeholder="Enter last name"
          formControlName = "lastName"
          [ngClass] ="{'is-invalid': customerForm.controls.lastName.invalid && customerForm.controls.lastName.touched}"
          >
      </div>
      <!-- Rating -->
      <div class="form-group">
        <label for="exampleInputEmail1">Rating</label>
        <input type="number" 
          min="0"
          max="5"
          class="form-control" 
          placeholder="Rating"
          formControlName = "rating"
          [ngClass] ="{'is-invalid': !customerForm.controls.rating.invalid && customerForm.controls.rating.touched}"
          >
        
      </div>
      <!-- radio button for notifications -->
      <div class="form-check">
        <input class="form-check-input" 
          type="radio" 
          value="email"
          formControlName = "notifications"
          (click) = "notificationMessage($event.target.value)"
          >
        <label class="form-check-label">
          Email
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" 
          type="radio" 
          value="phone"
          checked
          formControlName = "notifications"
          (click) = "notificationMessage($event.target.value)"
          >
        <label class="form-check-label" for="exampleRadios2">
          phone
        </label>
      </div>
      <!--end of radio button for notifications -->
      <!-- phone -->
      <div class="form-group">
        <label for="exampleInputEmail1">Phone</label>
        <input type="phone" 
          class="form-control" 
          placeholder="Enter Phone number"
          formControlName = "phone"
          [ngClass] ="{'is-invalid': customerForm.controls.phone.invalid && customerForm.controls.phone.touched}"
          >
          
        <div class="invalid-feedback">
          <label *ngIf = 'customerForm.controls.phone.errors?.required'>
            phone number is mandatory
          </label>
          <label *ngIf = 'customerForm.controls.phone.errors?.match'>
              phone number is 10 digit number
          </label>
          
        </div>  
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" 
          class="form-control" 
          id="exampleInputEmail1" 
          
          formControlName = "email"
          [ngClass] = "{'is-invalid': customerForm.controls.email.invalid && customerForm.controls.email.touched }"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback">
            <label *ngIf = "customerForm.get('email').errors?.required">
              email is required
            </label>
            <label *ngIf = "customerForm.get('email').errors?.minlength">
              length of email must be atleast 6 characters
            </label>
              
            
          </div> 
      </div>
      <div class="form-group form-check">
        <input type="checkbox" 
          (change) = 'showAddress()'
          class="form-check-input">
        <label class="form-check-label" for="exampleCheck1">Update Address</label>
      </div>
      <div *ngIf='showHideAddress' formGroupName = "address" >
        <div class="form-group">
          <label for="exampleInputEmail1">House No </label>
          <input 
            type="text" 
            class="form-control" 
            formControlName = 'hno'
            placeholder="Enter House No"
            [ngClass] = "{'is-invalid': customerForm.get('address.hno').invalid }"
            >
            <!-- [ngClass] = "{'is-invalid': customerForm.controls.address.controls.hno.invalid }" -->
        </div>
        <div class="form-group">
          <label>Street </label>
          <input type="text" class="form-control" placeholder="Enter Street">
        </div>
        <div class="form-group">
          <label>City </label>
          <input type="text" class="form-control" placeholder="Enter City">
        </div>
        <div class="form-group">
          <label>State </label>
          <input type="text" class="form-control" placeholder="Enter State">
        </div>
        <div class="form-group">
          <label>Zip Code </label>
          <input type="text" class="form-control" placeholder="Enter ZipCode ">
        </div>
        
      </div>
      
      <button type="submit" [disabled] ="!customerForm.valid"  class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
